 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: ; */
 }

 body {
    
 }

/* Header */
 .header {
    padding: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
 }

 .logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
 }

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    gap: 16px;
 }

 a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
 }

/* Hero */
.hero {
    background-color: #1F2937;
    padding: 24px;
    display: flex;
    gap: 36px;
    align-items: space-between;
}

.content {
    flex: 2;    
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 10px;
}

.second-text {
    font-size: 18px;
    color: #E5E7EB; 
    margin-bottom: 10px;
}

.image {
    flex: auto;
    height: 200px;
    width: 300px;
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882f6;
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 10px;
    border-style: none;
}